.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrap {
    .loginTitle {
      margin-bottom: 40px;
      text-align: center;
    }

    .form {
      width: 380px;

      .submitBtn {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
