{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 0
  }
}
